@media screen {
    .img-wrap {
        position: relative;
        width: 100%;
        text-align: center;
    }
}

@media print {
    header,
    footer,
    nav,
    aside {
        visibility: hidden;
    }
}

@media all {
    p {
        size: 20px;
        font-weight: bold;
        margin-right: auto;
    }

    img {
        margin-right: auto;
    }
}


